<style>
  .form-table td {
    padding: 10px 10px; /* Add some padding to the table cells */
  }
  .form-table tr:not(:last-child) {
    margin-bottom: 0px; /* Add some margin between the rows except for the last row */
  }
</style>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
  <form (ngSubmit)="onSubmit()" *ngIf="currentStep === 1">
    <table class="form-table">
      <tr>
        <td>
          <label for="codeDomaine">Code Domaine </label>
        </td>
        <td>
          <input type="text" class="form-control" id="codeDomaine" name="codeDomaine" [(ngModel)]="newParamCre.codeDomaine">
          <p class="error-message" *ngIf="newParamCre.codeDomaine && newParamCre.codeDomaine.length > 5">
            Le champ Code Domaine dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="codeDomaine">Code Structure</label>
        </td>
        <td>
          <input type="text" class="form-control" id="codeStructure" name="codeStructure" [(ngModel)]="newParamCre.codeStructure">
          <p class="error-message" *ngIf="newParamCre.codeStructure && newParamCre.codeStructure.length > 19">
            Le champ Code Domaine dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="codeEmetteur">Code Emetteur</label>
        </td>
        <td>
          <input type="text" class="form-control" id="codeEmetteur" name="codeEmetteur" [(ngModel)]="newParamCre.codeEmetteur">
          <p class="error-message" *ngIf="newParamCre.codeEmetteur && newParamCre.codeEmetteur.length > 6">
            Le champ Code Emetteur dépasse la taille maximale autorisée.
          </p>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <label for="codeApplication">Code Application</label>
        </td>
        <td>
          <input type="text" class="form-control" id="codeApplication" name="codeApplication" [(ngModel)]="newParamCre.codeApplication">
          <p class="error-message" *ngIf="newParamCre.codeApplication && newParamCre.codeApplication.length > 5">
            Le champ Code Application dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="codeEvenement">Code Evenement</label>
        </td>
        <td>
          <input type="text" class="form-control" id="codeEvenement" name="codeEvenement" [(ngModel)]="newParamCre.codeEvenement">
          <p class="error-message" *ngIf="newParamCre.codeEvenement && newParamCre.codeEvenement.length > 15">
            Le champ Code Evenement dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="aEnrichir">A Enrichir</label>
        </td>
        <td>
          <input type="text" class="form-control" id="aEnrichir" name="aEnrichir" [(ngModel)]="newParamCre.aEnrichir">
          <p class="error-message" *ngIf="newParamCre.aEnrichir && newParamCre.aEnrichir.length > 3">
            Le champ aEnrichir dépasse la taille maximale autorisée.
          </p>
        </td>
      </tr>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" (click)="goToNextStep()">Suivant</button>
    </div>
  </form>

  <form (ngSubmit)="onSubmit()" *ngIf="currentStep === 2">
    <table class="form-table">
      <tr>
         
        <td>
          <label for="topAggraCdc">Top Aggra Cdc</label>
        </td>
        <td>
          <input type="text" class="form-control" id="topAggraCdc" name="topAggraCdc" [(ngModel)]="newParamCre.topAggraCdc">
          <p class="error-message" *ngIf="newParamCre.topAggraCdc && newParamCre.topAggraCdc.length > 1">
            Le champ topAggraCdc dépasse la taille maximale autorisée.
          </p>
        </td>
     
        <td>
          <label for="valAggraCdc">Val Aggra Cdc</label>
        </td>
        <td>
          <input type="text" class="form-control" id="valAggraCdc" name="valAggraCdc" [(ngModel)]="newParamCre.valAggraCdc">
          <p class="error-message" *ngIf="newParamCre.valAggraCdc && newParamCre.valAggraCdc.length > 2">
            Le champ valAggraCdc dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="dateMajAggraCdc">Date Maj Aggra Cdc</label>
        </td>
        <td>
          <input type="date" class="form-control" id="dateMajAggraCdc" name="dateMajAggraCdc" [(ngModel)]="newParamCre.dateMajAggraCdc">
        </td>
      </tr>
      <tr>
        <td>
          <label for="topAggraCtx">Top Aggra Ctx</label>
        </td>
        <td>
          <input type="text" class="form-control" id="topAggraCtx" name="topAggraCtx" [(ngModel)]="newParamCre.topAggraCtx">
          <p class="error-message" *ngIf="newParamCre.topAggraCtx && newParamCre.topAggraCtx.length > 1">
            Le champ topAggraCtx dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="valAggraCtx">Val Aggra Ctx</label>
        </td>
        <td>
          <input type="text" class="form-control" id="valAggraCtx" name="valAggraCtx" [(ngModel)]="newParamCre.valAggraCtx">
          <p class="error-message" *ngIf="newParamCre.valAggraCtx && newParamCre.valAggraCtx.length > 2">
            Le champ valAggraCdc dépasse la taille maximale autorisée.
          </p>
        </td>
        <td>
          <label for="dateMajAggraCtx">Date Maj Aggra Ctx</label>
        </td>
        <td>
          <input type="date" class="form-control" id="dateMajAggraCtx" name="dateMajAggraCtx" [(ngModel)]="newParamCre.dateMajAggraCtx">
        </td>
      </tr>
      <tr>
       
        <td>
          <label for="rib">Rib</label>
        </td>
        <td>
          <input type="text" class="form-control" id="rib" name="rib" [(ngModel)]="newParamCre.rib">
          <p class="error-message" *ngIf="newParamCre.rib && newParamCre.rib.length > 3">
            Le champ Rib dépasse la taille maximale autorisée.
          </p>
        </td>    </table>
        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary me-2" type="button" (click)="goToPreviousStep()">Précédent</button>
       
          <button class="btn btn-primary" type="button" (click)="goToNextStep()">Suivant</button>
        </div>
        
  </form>

  <form (ngSubmit)="onSubmit()" *ngIf="currentStep === 3">
    <table class="form-table">

<tr>
 
 
      <td>
        <label for="topAggraPrec">Top Aggra Prec</label>
      </td>
      <td>
        <input type="text" class="form-control" id="topAggraPrec" name="topAggraPrec" [(ngModel)]="newParamCre.topAggraPrec">
        <p class="error-message" *ngIf="newParamCre.topAggraPrec && newParamCre.topAggraPrec.length > 1">
          Le champ topAggraPrec dépasse la taille maximale autorisée.
        </p>
      </td>
      <td>
        <label for="valAggraPrec">Val Aggra Prec</label>
      </td>
      <td>
        <input type="text" class="form-control" id="valAggraPrec" name="valAggraPrec" [(ngModel)]="newParamCre.valAggraPrec">
        <p class="error-message" *ngIf="newParamCre.valAggraPrec && newParamCre.valAggraPrec.length > 2">
          Le champ topAggraPrec dépasse la taille maximale autorisée.
        </p>
      </td>
    
      <td>
        <label for="dateMajAggraPrec">Date Maj Aggra Prec</label>
      </td>
      <td>
        <input type="date" class="form-control" id="dateMajAggraPrec" name="dateMajAggraPrec" [(ngModel)]="newParamCre.dateMajAggraPrec">
      </td>
    </tr> 
    <tr>
  
      <td>
        <label for="dateMiseProd">Date Mise Prod</label>
      </td>
      <td>
        <input type="date" class="form-control" id="dateMiseProd" name="dateMiseProd" [(ngModel)]="newParamCre.dateMiseProd">
      </td>
      <td>
        <label for="aComptabiliser">Etat Initial</label>
      </td>
      <td>
        <input type="text" class="form-control" id="etatInitial" name="etatInitial" [(ngModel)]="newParamCre.etatInitial">
        <p class="error-message" *ngIf="newParamCre.etatInitial && newParamCre.etatInitial.length > 2">
          Le champ etat Initial dépasse la taille maximale autorisée.
        </p>
      </td>
    </tr>
     </table>
     <div class="d-flex justify-content-center">
      <button class="btn btn-secondary me-2" type="button" (click)="goToPreviousStep()">Précédent</button>
      <button class="btn btn-primary" type="submit">Ajouter</button>
    </div>
    
  </form>
</div>
