
<h1>Modifier </h1>

<div class="container">
  <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="codeDomaine">Code Domaine</label>
      <input type="text" class="form-control" id="codeDomaine" name="codeDomaine"[(ngModel)]="newParamCre.codeDomaine">
    </div>
    <div class="form-group">
      <label for="codeApplication">Code Application</label>
      <input type="text" class="form-control" id="codeApplication"name="codeApplication" [(ngModel)]="newParamCre.codeApplication">
    </div>
    <div class="form-group">
      <label for="codeEvenement">Code Evenement</label>
      <input type="text" class="form-control" id="codeEvenement"name="codeEvenement" [(ngModel)]="newParamCre.codeEvenement">
    </div>
    <div class="form-group">
      <label for="codeStructure">Code Structure</label>
      <input type="text" class="form-control" id="codeStructure" name="codeStructure"[(ngModel)]="newParamCre.codeStructure">
    </div>
    <div class="form-group">
      <label for="codeEmetteur">Code Emetteur</label>
      <input type="text" class="form-control" id="codeEmetteur" name="codeEmetteur"[(ngModel)]="newParamCre.codeEmetteur">
    </div>
    <div class="form-group">
      <label for="aEnrichir">A Enrichir</label>
      <input type="text" class="form-control" id="aEnrichir"name="aEnrichir" [(ngModel)]="newParamCre.aEnrichir">
    </div>
    <div class="form-group">
      <label for="aComptabiliser">A Comptabiliser</label>
      <input type="text" class="form-control" id="aComptabiliser"name="aComptabiliser" [(ngModel)]="newParamCre.aComptabiliser">
    </div>
    <div class="form-group">
      <label for="dateMiseProd">Date Mise Prod</label>
      <input type="date" class="form-control" id="dateMiseProd" name="dateMiseProd"[(ngModel)]="newParamCre.dateMiseProd">
    </div>
    <div class="form-group">
      <label for="etatInitial">Etat Initial</label>
      <input type="text" class="form-control" id="etatInitial"name="etatInitial" [(ngModel)]="newParamCre.etatInitial">
    </div>
    <div class="form-group">
      <label for="topAggraCdc">Top Aggra Cdc</label>
      <input type="text" class="form-control" id="topAggraCdc"name="topAggraCdc" [(ngModel)]="newParamCre.topAggraCdc">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">Val Aggra Cdc</label>
      <input type="text" class="form-control" id="valAggraCdc"name="valAggraCdc" [(ngModel)]="newParamCre.valAggraCdc">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">date Maj Aggra Cdc</label>
      <input type="date" class="form-control" id="dateMajAggraCdc" name="dateMajAggraCdc"[(ngModel)]="newParamCre.dateMajAggraCdc">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">top Aggra Ctx</label>
      <input type="text" class="form-control" id="topAggraCtx" name="topAggraCtx"[(ngModel)]="newParamCre.topAggraCtx">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">val Aggra Ctx</label>
      <input type="text" class="form-control" id="valAggraCdc" name="valAggraCtx"[(ngModel)]="newParamCre.valAggraCtx">
    </div>
    
    <div class="form-group">
      <label for="valAggraCdc">date Maj Aggra Ctx</label>
      <input type="date" class="form-control" id="dateMajAggraCtx"name="dateMajAggraCtx" [(ngModel)]="newParamCre.dateMajAggraCtx">
    </div>
    
    <div class="form-group">
      <label for="valAggraCdc">Rib</label>
      <input type="text" class="form-control" id="rib" name="rib"[(ngModel)]="newParamCre.rib">
    </div>

    <div class="form-group">
      <label for="valAggraCdc">top Aggra Prec</label>
      <input type="text" class="form-control" id="topAggraPrec" name="topAggraPrec"[(ngModel)]="newParamCre.topAggraPrec">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">val Aggra Prec</label>
      <input type="text" class="form-control" id="valAggraPrec" name="valAggraPrec"[(ngModel)]="newParamCre.valAggraPrec">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">date Maj Aggra Prec</label>
      <input type="date" class="form-control" id="dateMajAggraPrec"name="dateMajAggraPrec" [(ngModel)]="newParamCre.dateMajAggraPrec">
    </div>
    <div class="form-group">
      <label for="valAggraCdc">date Maj Aggra Prec</label>
      <input type="date" class="form-control" id="dateMajAggraPrec"name="dateMajAggraPrec" [(ngModel)]="newParamCre.dateMajAggraPrec">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-success" type="submit">Modifier</button>
    </div>