<div class="container">
  <form class="row" role="search" (ngSubmit)="onSubmit()">
    <div class="col-md-4 mb-3">
      <label for="codeDomaine">Code Domaine:</label>
      <input class="form-control" type="search" id="codeDomaine" name="codeDomaine" placeholder="Code Domaine" [(ngModel)]="ParamCre.codeDomaine" aria-label="Search">
    </div>
    
    <div class="col-md-4 mb-3">
      <label for="codeApplication">Code application:</label>
      <input class="form-control" type="search" id="codeApplication" name="codeApplication" placeholder="Code application" [(ngModel)]="ParamCre.codeApplication" aria-label="Search">
    </div>
    <div class="col-md-4 mb-3">
      <label for="codeEvenement">Code Evenement:</label>
      <input class="form-control" type="search" id="codeEvenement" name="codeEvenement" placeholder="Code Evenement" [(ngModel)]="ParamCre.codeEvenement" aria-label="Search">
    </div>
    <div class="col-md-4 mb-3">
      <label for="codeStructure">Code Structure:</label>
      <input class="form-control" type="search" id="codeStructure" name="codeStructure" placeholder="Code Structure" [(ngModel)]="ParamCre.codeStructure" aria-label="Search">
    </div>
    <div class="col-md-4 mb-3">
      <label for="codeEmetteur">Code Emetteur:</label>
      <input class="form-control" type="search" id="codeEmetteur" name="codeEmetteur" placeholder="Code Emetteur" [(ngModel)]="ParamCre.codeEmetteur" aria-label="Search">
    </div>
    <div class="col-md-4 mb-3">
      <label for="startDate">Start Date:</label>
      <input class="form-control" type="date" id="startDate" name="startDate" [(ngModel)]="startDate" aria-label="Search">
    </div>
    <div class="col-md-4 mb-3">
      <label for="endDate">End Date:</label>
      <input class="form-control" type="date" id="endDate" name="endDate" [(ngModel)]="endDate" aria-label="Search">
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div style="width: 100%; overflow-x: auto;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code Domaine</th>
          <th>Code Application</th>
          <th>Code Structure</th>
          <th>Code Emetteur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paramCre of paginatedParamCres">
          <td>{{ paramCre.id }}</td>
          <td>{{ paramCre.codeDomaine }}</td>
          <td>{{ paramCre.codeApplication }}</td>
          <td>{{ paramCre.codeStructure }}</td>
          <td>{{ paramCre.codeEmetteur }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <!-- <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
        <a class="page-link" (click)="goToPage(1)">First</a>
      </li> -->
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
        <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of totalPages">
        <a class="page-link" [ngClass]="{ 'active': currentPage === page }" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages[totalPages.length - 1] }">
        <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
      <!-- <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages[totalPages.length - 1] }">
        <a class="page-link" (click)="goToPage(totalPages[totalPages.length - 1])">Last</a>
      </li> -->
    </ul>
  </nav>
</div>