<!-- <style>
  .form-table td {
    padding: 0 30px;
  }
</style>


 <h1>details de l'Evenement</h1> 

<div class="container">
    <table class="form-table">
      <tr>
        <td>
          <div class="form-group">
            <label for="codeDomaine"><Strong>Code Domaine</Strong></label>
              <p>{{ paramCre.codeDomaine }}</p>
          </div>
          <div class="form-group">
            <label for="codeApplication"><Strong>Code Application</Strong></label>
            <p>{{ paramCre.codeApplication }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="codeEvenement"><Strong>Code Evenement</Strong></label>
            <p>{{ paramCre.codeEvenement }}</p>
          </div>
          <div class="form-group">
            <label for="codeStructure"><Strong>Code Structure</Strong></label>
           <p>{{ paramCre.codeStructure }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="codeEmetteur"><Strong>Code Emetteur</Strong></label>
          <p>{{ paramCre.codeEmetteur }}</p>
          </div>
          <div class="form-group">
            <label for="aEnrichir"><Strong>A Enrichir</Strong></label>
            <p>{{ paramCre.aEnrichir }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="aComptabiliser"><Strong>A Comptabiliser</Strong></label>
            <p>{{ paramCre.aComptabiliser }}</p>
          </div>
          <div class="form-group">
            <label for="dateMiseProd"><Strong>Date Mise Prod</Strong></label>
            <p>{{ paramCre.dateMiseProd | date }}</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="etatInitial"><Strong>Etat Initial</Strong></label>
            <p>{{ paramCre.etatInitial }}</p>
          </div>
          <div class="form-group">
            <label for="topAggraCdc"><Strong>Top Aggra Cdc</Strong></label>
           <p>{{ paramCre.topAggraCdc }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="valAggraCdc"><Strong>Val Aggra Cdc</Strong></label>
           <p>{{ paramCre.valAggraCdc }}</p>
          </div>
          <div class="form-group">
            <label for="dateMajAggraCdc"><Strong>Date Maj Aggra Cdc</Strong></label>
            <p>{{ paramCre.dateMajAggraCdc | date }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="topAggraCtx"><Strong>Top Aggra Ctx</Strong></label>
            <p>{{ paramCre.topAggraCtx }}</p>
          </div>
          <div class="form-group">
            <label for="valAggraCtx"><Strong>Val Aggra Ctx</Strong></label>
            <p>{{ paramCre.valAggraCtx }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="dateMajAggraCtx"><Strong>Date Maj Aggra Ctx</Strong></label>
            <p>{{ paramCre.dateMajAggraCtx | date }}</p>
          </div>
          <div class="form-group">
            <label for="rib"><Strong>Rib</Strong></label>
           <p>{{ paramCre.rib }}</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="topAggraPrec"><Strong>Top Aggra Prec</Strong></label> <p>{{ paramCre.topAggraPrec }}</p>
          </div>
          <div class="form-group">
            <label for="valAggraPrec"><Strong>Val Aggra Prec</Strong></label>
            <p>{{ paramCre.valAggraPrec }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="dateMajAggraPrec"><Strong>Date Maj Aggra Prec</Strong></label>
            <p>{{ paramCre.valAggraPrec }}</p>
          </div>
        </td>
      </tr>
    </table> -->
  
    <!-- <span class="mx-2"></span> -->
    <!-- <button *ngIf="paramCre.topDesac === 'N'" type="button" class="btn btn-danger btn-lg" (click)="desactiver(paramCre.id)">Desactiver</button>
    <button *ngIf="paramCre.topDesac !== 'N'" type="button" class="btn btn-success btn-lg" (click)="activer(paramCre.id)">Activer</button>
     -->
    
<!-- </div> -->

<h3 > Info genrale</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code Domaine</th>
      <th scope="col">Code Application</th>
      <th scope="col">Date Evenement</th>
      <th scope="col">Code Structure</th>
      <th scope="col">Code Emetteur</th>
      <th scope="col">A Enrichir</th>
      <th scope="col">A Comptabiliser</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ paramCre.codeDomaine }}</td>
      <td>{{ paramCre.codeApplication }}</td>
      <td>{{ paramCre.codeEvenement }}</td>
      <td>{{ paramCre.codeStructure }}</td>
      <td>{{ paramCre.codeEmetteur }}</td>
      <td>{{ paramCre.aEnrichir }}</td>
      <td>{{ paramCre.aComptabiliser }}</td>




    </tr>
   
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Top Aggra Cdc</th>
      <th scope="col">Val Aggra Cdc</th>
      <th scope="col">Date Maj Aggra Cdc</th>

      <th scope="col">Top Aggra Prec</th>
      <th scope="col">Val Aggra Prec</th>
      
      <th scope="col">Date Maj Aggra Prec</th>
      <th scope="col">Rib</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ paramCre.topAggraCdc }}</td>
      <td>{{ paramCre.valAggraCdc }}</td>
      <td>{{ paramCre.dateMajAggraCdc }}</td>
      <td>{{ paramCre.topAggraCtx }}</td>
      <td>{{ paramCre.valAggraCtx }}</td>
      <td>{{ paramCre.dateMajAggraCtx }}</td>
      <td>{{ paramCre.rib }}</td>




    </tr>
   
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Top Aggra Cdc</th>
      <th scope="col">Val Aggra Cdc</th>
      <th scope="col">Date Maj Aggra Cdc</th>

      <th scope="col">Top Aggra Prec</th>
      <th scope="col">Val Aggra Prec</th>
      
      <th scope="col">Date Maj Aggra Prec</th>
      <th scope="col">Rib</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ paramCre.topAggraCdc }}</td>
      <td>{{ paramCre.valAggraCdc }}</td>
      <td>{{ paramCre.dateMajAggraCdc }}</td>
      <td>{{ paramCre.topAggraPrec }}</td>
      <td>{{ paramCre.valAggraPrec }}</td>
      <td>{{ paramCre.dateMajAggraPrec }}</td>
      <td>{{ paramCre.rib }}</td>




    </tr>
   
  </tbody>
</table> 
<div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" (click)="update(paramCre.id)"type="submit">Modifier</button>
    </div>  