<style>
  .form-table td {
    padding: 0 30px;
  }
</style>


<h1>details de l'Evenement</h1>

<div class="container">
    <table class="form-table">
      <tr>
        <td>
          <div class="form-group">
            <label for="codeDomaine"><Strong>Code Domaine</Strong></label>
              <p>{{ paramCre.codeDomaine }}</p>
          </div>
          <div class="form-group">
            <label for="codeApplication"><Strong>Code Application</Strong></label>
            <p>{{ paramCre.codeApplication }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="codeEvenement"><Strong>Code Evenement</Strong></label>
            <p>{{ paramCre.codeEvenement }}</p>
          </div>
          <div class="form-group">
            <label for="codeStructure"><Strong>Code Structure</Strong></label>
           <p>{{ paramCre.codeStructure }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="codeEmetteur"><Strong>Code Emetteur</Strong></label>
          <p>{{ paramCre.codeEmetteur }}</p>
          </div>
          <div class="form-group">
            <label for="aEnrichir"><Strong>A Enrichir</Strong></label>
            <p>{{ paramCre.aEnrichir }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="aComptabiliser"><Strong>A Comptabiliser</Strong></label>
            <p>{{ paramCre.aComptabiliser }}</p>
          </div>
          <div class="form-group">
            <label for="dateMiseProd"><Strong>Date Mise Prod</Strong></label>
            <p>{{ paramCre.dateMiseProd | date }}</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="etatInitial"><Strong>Etat Initial</Strong></label>
            <p>{{ paramCre.etatInitial }}</p>
          </div>
          <div class="form-group">
            <label for="topAggraCdc"><Strong>Top Aggra Cdc</Strong></label>
           <p>{{ paramCre.topAggraCdc }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="valAggraCdc"><Strong>Val Aggra Cdc</Strong></label>
           <p>{{ paramCre.valAggraCdc }}</p>
          </div>
          <div class="form-group">
            <label for="dateMajAggraCdc"><Strong>Date Maj Aggra Cdc</Strong></label>
            <p>{{ paramCre.dateMajAggraCdc | date }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="topAggraCtx"><Strong>Top Aggra Ctx</Strong></label>
            <p>{{ paramCre.topAggraCtx }}</p>
          </div>
          <div class="form-group">
            <label for="valAggraCtx"><Strong>Val Aggra Ctx</Strong></label>
            <p>{{ paramCre.valAggraCtx }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="dateMajAggraCtx"><Strong>Date Maj Aggra Ctx</Strong></label>
            <p>{{ paramCre.dateMajAggraCtx | date }}</p>
          </div>
          <div class="form-group">
            <label for="rib"><Strong>Rib</Strong></label>
           <p>{{ paramCre.rib }}</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="topAggraPrec"><Strong>Top Aggra Prec</Strong></label> <p>{{ paramCre.topAggraPrec }}</p>
          </div>
          <div class="form-group">
            <label for="valAggraPrec"><Strong>Val Aggra Prec</Strong></label>
            <p>{{ paramCre.valAggraPrec }}</p>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="dateMajAggraPrec"><Strong>Date Maj Aggra Prec</Strong></label>
            <p>{{ paramCre.valAggraPrec }}</p>
          </div>
        </td>
      </tr>
    </table>

    <button type="button" class="btn btn-primary btn-lg" (click)="update(paramCre.id)">Modifier</button>
    <span class="mx-2"></span>
    <!-- <button *ngIf="paramCre.topDesac === 'N'" type="button" class="btn btn-danger btn-lg" (click)="desactiver(paramCre.id)">Desactiver</button>
    <button *ngIf="paramCre.topDesac !== 'N'" type="button" class="btn btn-success btn-lg" (click)="activer(paramCre.id)">Activer</button>
     -->
  
</div>