 <style>
 
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .button-container {
    text-align: center; /* Centrer horizontalement le contenu */
  }

  /* Style pour l'espace entre le bouton et le bas de la page */
  .button-space {
    margin-bottom: 100px; /* Espace de 100 pixels en bas du bouton */
  }
 
</style>

<div style="margin-top: 100px;"></div>

<h1 style="text-align:center; color:rgb(0, 0, 0);"> Information genrale</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code Domaine</th>
      <th scope="col">Code Application</th>
      <th scope="col">Date Evenement</th>
      <th scope="col">Code Structure</th>
      <th scope="col">Code Emetteur</th>
      <th scope="col">A Enrichir</th>
      <th scope="col">A Comptabiliser</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ paramCre.codeDomaine }}</td>
      <td>{{ paramCre.codeApplication }}</td>
      <td>{{ paramCre.codeEvenement }}</td>
      <td>{{ paramCre.codeStructure }}</td>
      <td>{{ paramCre.codeEmetteur }}</td>
      <td>{{ paramCre.aEnrichir }}</td>
      <td>{{ paramCre.aComptabiliser }}</td>




    </tr>
   
  </tbody>
</table> 
<div style="margin-top: 100px;"></div>

<h1 style="text-align:center; color:rgb(0, 0, 0);">Information Supplementaire</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Top Aggragation Cdc</th>
      <th scope="col">Val Aggragation Cdc</th>
      <th scope="col">Date Maj Aggragation Cdc</th>

      <th scope="col">Top Aggragation Ctx</th>
      <th scope="col">Val Aggragation Ctx</th>
      
      <th scope="col">Date Maj Aggragation Ctx</th>
      <th scope="col">Rib</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ paramCre.topAggraCdc }}</td>
      <td>{{ paramCre.valAggraCdc }}</td>
      <td>{{ paramCre.dateMajAggraCdc }}</td>
      <td>{{ paramCre.topAggraCtx }}</td>
      <td>{{ paramCre.valAggraCtx }}</td>
      <td>{{ paramCre.dateMajAggraCtx }}</td>
      <td>{{ paramCre.rib }}</td>




    </tr>
   
  </tbody>
</table> 
<div style="margin-top: 100px;"></div>
<h1 style="text-align:center; color:rgb(0, 0, 0);">Statistique d'événement par jour</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date De Passage</th>
      <th scope="col">Cre Validés</th>
      <th scope="col">Cre Rejetés</th>

      <th scope="col">Compteur d'événement</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ paramCre.dateDerPassage }}</td>
      <td>{{ paramCre.ligneValide }}</td>
      <td>{{ paramCre.ligneRejete }}</td>
      <td>{{ paramCre.compteurEven }}</td>
    




    </tr>
   
  </tbody>
</table> 
<div style="margin-top: 100px;"></div>

<h1 style="text-align:center; color:rgb(0, 0, 0);">Autre</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Mise Prod</th>
      <th scope="col">Etat Initial</th>
      <th scope="col">Top Aggragation Prec</th>
      <th scope="col">Val Aggragation Prec</th>
      
      <th scope="col">Date Maj Aggragation Prec</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ paramCre.dateMiseProd }}</td>
      <td>{{ paramCre.etatInitial }}</td>
  
      <td>{{ paramCre.topAggraPrec }}</td>
      <td>{{ paramCre.valAggraPrec }}</td>
      <td>{{ paramCre.dateMajAggraPrec }}</td>
    



    </tr>
   
  </tbody>
</table>  
<div class="button-container">

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" (click)="update(paramCre.id)" type="submit">Modifier</button> <div class="button-space"></div>
  </div>
 
</div>
